{% extends 'recuperar_password.html' %}
{% load static %}
{% block content %}
    <title>Exito</title>

      <div class="justify-content-center">
         <div class="card-header">
                        <h5 class="card-title">Restablecer Contraseña</h5>
                        <h6 class="card-title">¡Se cambió la contraseña con exito!</h6>
            </div>
        
      </div><br>
        <a type="button" id="" href="{% url 'login' %}" class="btn btn-outline-secondary">Iniciar Sesión</a>

{% endblock %}