{% extends "menu_usuarios.html" %}
{% load static %}
{% block content %}

<div class="card border-0">
    <div class="card-header">
        <h5 class="card-title">
            Consulta tus Cuentas:
        </h5>
        <h6 class="card-subtitle text-muted">
            Datos del Usuario:
        </h6>
    </div>
    <div class="card-body">
        <table class="table">
            <tr class="table-light">
                <th>Cédula RUC</th>
                <th>Nombre</th>
                <th>Dirección</th> <!-- Puedes agregar otros campos según tu modelo -->
            </tr>
            <tbody class="table-group-divider">
            <tr>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td> <!-- Puedes agregar otros campos según tu modelo -->
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card border-0">
    <div class="card-header">
        <h5 class="card-title">
            Cuentas Asociadas
        </h5>
        <!--        <h6 class="card-subtitle text-muted">-->
        <!--            EPMAPAS SAMBORONDÓN - ¡INFORMA!-->
        <!--        </h6>-->
    </div>
    <div class="card-body">
        <table class="table">
            <tr class="table-light">
                <th>Cuenta</th>
                <th>Dirección</th>
                <th>Lugar</th>
                <th>Acciónes</th>

                <!-- Agrega otros campos según tu modelo -->
            </tr>
            <tbody class="table-group-divider">
            {% for cuenta in cuentas %}
            <tr>
                <td>{{ cuenta.0 }}</td>
                <td>{{ cuenta.6 }}</td>
                {% if cuenta.8 == 2 %}
                <td>Samborondón</td>
                <td>
                    <a href="{% url 'usuarios_consulta_cuentas_detalle' cuenta.0 %}" type="submit"
                       class="btn btn-success"
                       style=" padding: 5px"><i class="fa fa-share-square" aria-hidden="true"></i>
                        <span class="btn-text">Detalle</span>
                        </a>
                </td><!-- Agrega otros campos según tu modelo -->
            </tr>
            {% empty %}
            <!-- Si no hay resultados -->
            <tr>
                <td colspan="5" class="text-center">No se encontraron cuentas asociadas a este usuario</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    window.history.pushState({}, document.title, "/");
</script>

<style>

    /* Oculta el texto 'Detalle' en pantallas pequeñas */
@media (max-width: 576px) {
    .btn-text {
        display: none;
    }
}
</style>

{% endblock %}