{% extends "menu_usuarios.html" %}
{% load static %}
{% block content %}

<div class="card border-0">
    <div class="card-header">
        <h5 class="card-title">
            Consulta tus Cuentas:
        </h5>
        <h6 class="card-subtitle text-muted">
            Datos del Usuario:
        </h6>
    </div>
    <div class="card-body">
        <table class="table">
            <tr class="table-light">
                <th>Cédula RUC</th>
                <th>Nombre</th>
                <th>Dirección</th> <!-- Puedes agregar otros campos según tu modelo -->
            </tr>
            <tbody class="table-group-divider">
            <tr>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td> <!-- Puedes agregar otros campos según tu modelo -->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- card 1 -->
<div class="card border-0">

    <div class="card-header">
        <h5 class="card-title">
            Detalle de la Cuenta: Total a Pagar (A)+(B): {{ total }} - Mas Convenio.
        </h5>
        <h6 class="card-subtitle text-muted">
            Facturas Vencidas
        </h6>

    </div>
    <div class="table-responsive">
    <div class="card-body">
       <table class="table">
            <tr class="table-light">
                <th>Cuenta</th>
                <th> Facturas Vencidas</th>
                <th>Adeudao</th>
                <th>interes</th>
                <th>Total Adeudado (A)</th>

                <!-- Agrega otros campos según tu modelo -->
            </tr>
           <tbody class="table-group-divider">
            {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.8 }}</td>
                    <td>{{ cuenta.14 }}</td>
                    <td>{{ cuenta.12 }}</td>
<!--                    <td>{{ cuenta.5|date:"F" }}</td>-->
                    <td>{{ cuenta.13 }}</td>
                    <td>{{ subtotal }}</td>

                </tr>
             {% empty %}
                    <!-- Si no hay resultados -->
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron cuentas asociadas a este usuario</td>
                    </tr>

            {% endfor %}
           </tbody>
        </table>
    </div>
<!-- card 2 -->
        <div class="card-header">

            <h6 class="card-subtitle text-muted">
                    Mensual
                </h6>

    </div>

    <div class="card-body">
       <table class="table">
            <tr class="table-light">
                <th>Cuenta</th>
                <th>Mes</th>
                <th>valor (B)</th>

                <!-- Agrega otros campos según tu modelo -->
            </tr>
           <tbody class="table-group-divider">
            {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.8 }}</td>
                    <td>{{ cuenta.5|date:"F" }}</td>
                    <td>{{ cuenta.4 }}</td>

                </tr>
             {% empty %}
                    <!-- Si no hay resultados -->
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron cuentas asociadas a este usuario</td>
                    </tr>

            {% endfor %}
           </tbody>
        </table>
    </div>

        <div class="card-header">
            <h6 class="card-subtitle text-muted">
                    Convenios
            </h6>
    </div>
    <div class="card-body">
       <table class="table">
            <tr class="table-light">
                <th>Solicitud</th>
                <th>Fecha de Inicio</th>
                <th>Estado</th>

                <!-- Agrega otros campos según tu modelo -->
            </tr>
           <tbody class="table-group-divider">
                 {% if convenios %}
                <tr>
                    <td>{{ convenios.0}}</td>
                    <td>{{ convenios.3|date:"F"}}</td>
                    {% if convenios.9 == 2 %}
                    <td>Por Pagar</td>
                    {% endif %}

                </tr>
                 {% else %}
                <td colspan="5" class="text-center">No se encontraron convenios asociados a esta cuenta</td>
            {% endif %}

           </tbody>
        </table>

    </div>

    </div>
</div>




<style>
/* Estilo para la tabla que permitirá el scroll vertical */
.table-responsive {
  max-height: 240px; /* Establece la altura máxima de la tabla */
  overflow-y: auto;
}

/* Fija los encabezados de la tabla */
.table thead th {
  position: sticky;
  top: -1px;
  z-index: 1;
}

</style>
{% endblock %}