{% extends "menu_usuarios.html" %}
{% load static %}
{% block content %}

        <div class="card border-0 custom-card-height-noticias">
            <div class="card-header">
                <h5 class="card-title">¡Noticias!</h5>
                <h6 class="card-subtitle text-muted">EPMAPAS SAMBORONDÓN - ¡INFORMA!</h6>
            </div>
            <div class="card-body">
                <div class="carousel-container flex-shrink-1">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/info/actualizacion.jpg' %}" class="d-block w-100 img-fluid" alt="Actualización de Datos">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/info/gotita.jpg' %}" class="d-block w-100 img-fluid" alt="Gotita">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/info/denuncia.jpg' %}" class="d-block w-100 img-fluid" alt="Denuncia">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>




<script>
    window.history.pushState({}, document.title, "/");
</script>

<style>
 .custom-card-height-noticias {
    height: 500px; /* Cambia esto al tamaño deseado */
    width: auto;
    overflow: hidden; /* Esto asegura que el contenido que exceda la altura se oculte */
}

@media (max-width: 768px) {
    .custom-card-height-noticias {
        height: auto;
         width: auto;
        overflow: visible;
    }

    .carousel-item img {
        height: auto;
        object-fit: contain;
    }
}
    /* Oculta el texto 'Detalle' en pantallas pequeñas */
@media (max-width: 576px) {
    .btn-text {
        display: none;
    }
}
</style>

{% endblock %}