{% extends "menu_usuarios.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card border-0">
                <div class="card-header">
                    <h5 class="card-title">
                        CAMBIO DE CONTRASEÑA:
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        Gestionar Perfil.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <form method="POST"  action="{% url 'usuarios_cambiar_password'%}" class="form-control-plaintext justify-content-center">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success"><i class="fa fa-key" aria-hidden="true"></i> Confirmar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}