{% extends 'menu_admin.html' %}

{% block content %}

    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for noticia in noticias %}
        <tr>
            <td>{{ noticia.id }}</td>
            <td>{{ noticia.titulo }}</td>
            <td>
                <form method="get" action="{% url 'probar_notificacion' noticia.id %}">
                    <button type="submit">Probar Notificación</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}